*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
app/src/main/java/com/example/helen_000/recipeapplication/Activities/UploadRecipeActivity.java
*.java
app/src/main/java/com/example/helen_000/recipeapplication/RecipeSave.java
*.java
app/src/main/java/com/example/helen_000/recipeapplication/RecipeSave.java
app/src/main/java/com/example/helen_000/recipeapplication/RecipeSave.java
app/src/main/java/com/example/helen_000/recipeapplication/RecipeSave.java
*.java
